@import url("https://fonts.googleapis.com/css2?family=Caudex&family=MedievalSharp&display=swap");

.parchment {
  box-shadow:
    2px 3px 20px black,
    0 0 60px #8a4d0f inset;
  background: #fffef0;
}

.biblical-text {
  counter-reset: section;
  font-family: "Caudex", serif;
  font-size: 1.4rem;
  font-weight: lighter;
}

.biblical-text > p:before {
  counter-increment: section;
  font-weight: bold;
  font-size: 1rem;
  color: #502a05;
  content: "" counter(section) ". ";
}

a[data-footnote-backref] {
  display: none;
}

.footnotes {
  padding: 1rem;
  border-top: 1px solid #502a05;
  font-size: 1rem;
}

.footnotes ol {
  padding-left: 0;
}

.footnotes p {
  margin-bottom: 0;
}
